body {
	background-color: #ddd;
}
h1 {
	margin: 10px auto;
	text-align: center;
}

#content {
	padding: 0 30px;
}


ul#menu-bar {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul#menu-bar li {
	display: inline-block;
	margin: 0 10px;
	height: 30px;
	width: 90px;
	position: relative;
}

ul#menu-bar li .default-background {
	position: absolute;
	z-index: 1;
	width: 90px;
	height: 30px;
	background-color: #b4b4ff;
	border-radius: 10px;
	top: 0;
	left: 0;
}

ul#menu-bar li .second-background {
	position: absolute;
	z-index: 2;
	width: 0;
	height: 30px;
	border-radius: 10px;
	background-color: #fff;
	top: 0;
	left: 0;
	transition: width 0.8s;
}

ul#menu-bar li:hover, ul#menu-bar li:active {
	cursor: pointer;
}

ul#menu-bar li:hover .second-background, ul#menu-bar li:active .second-background {
	width: 90px;
	cursor: pointer;
	z-index: 2;
}

ul#menu-bar li .menu-bar-text {
	position: absolute;
	z-index: 3;
	width: 90px;
	height: 30px;
	text-align: center;
	font-size: 1.2em;
	line-height: 30px;
	font-weight: bold;
	top: 0;
	left: 0;
}


#menu-container {
	position: fixed;
	/*background-color: #fff;*/
	font-weight: bold;
	padding: 0;
	width: 24px;
	height: 96px;
	top: 50px;
	left: 0;
	/*box-shadow: 0 0 10px 2px #fff;*/
	transition: width 0.8s;
	border-radius: 0 10px 10px 0;
	font-size: 1.2em;
}

#menu-container span {
	color: red;
	float: right;
	background-color: #cccc00;
	width: 24px;
	text-align: center;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

#menu-container div {
	/*background-color: #fff;*/
	height: 139px;
	width: 0;
	transition: width 0.8s;
	display: inline-block;
	margin: 0;
	border-radius: 0 0 10px 0;
	overflow: hidden;
}

#menu-container div ul {
	list-style-type: none;
	padding: 0 3px 3px;
	margin: 0;
}

#menu-container div ul li {
	background-color: #b4b4ff;
	margin-bottom: 3px;
	text-align: center;
	border-radius: 20px;
	transition: color 1s;
	transition: background-color 1s;
	color: #000;
}



#menu-container:hover, #menu-container:active {
	/*box-shadow: 0 0 10px 10px #000;*/
	box-shadow: none;
	width: 174px;
}

#menu-container:hover div, #menu-container:active div {
	width: 150px;
}

#menu-container div ul li:hover {
	/*color: #000;*/
	background-color: #fff;
	cursor: pointer;
}