body {
	background-color: #00ffd0;
}
.container .jumbotron {
	background-color: #00ffd0;
	padding: 0px 15px 15px 15px;
}

#main-image {
	/*width: 100%;*/
	box-shadow: 0px 0px 50px 25px black;
	border: 2px solid black;
	padding: 0;
	margin-bottom: 20px;
}

#first-tile, #second-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
}

#first-tile:hover, #second-tile:hover, #map-tile:hover {
	box-shadow: 0px 0px 10px 10px #cccccc;
}

#first-tile {
	background: url(../LupaPageTest1.png) no-repeat;
	background-position: center;
}

#second-tile {
	background-color: blue;
}

#first-tile span, #second-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: black;
	color: white;
	opacity: .7;
}

#verticl-try {
	border-radius: 15px;
	background-color: purple;
	height: 250px;
	margin-bottom: 15px;
	position: relative;
}

.vertical-span {
	color: white;
	position: absolute;
	bottom: 10px;
	left: 5px;
}

@media (max-width: 767px) {
	#first-tile {
		width: 525px;
		margin: 0 auto 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

/****super extra small****/
@media (max-width: 556px) {
	#first-tile {
		width: 300px;
		margin: 0 auto 15px;
	}
}

/****super super extra small****/
@media (max-width: 332px) {
	#first-tile {
		width: 250px;
		margin: 0 auto 15px;
	}
}