body {
	background-color: #38E0F2;
}

/*****header*****/
#header-row {
	background-color: white;
}

#big-title {
	margin: 15px 0;
	padding: 0 15px 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 3vw;
	color: #d580ff;
}

#main-title {
	margin-bottom: 15px;
}

#main-hr {
	width: 80%;
}

.Logo {
	margin: 10px 0;
	width: 12.337vw;/* 135.125px;*/
	height: 9vw;/* 87.625px;*/
}

#logo-link {
	text-align: right;
}

.navbar {
	background-color: white;
	border: 0px;
}

#collapsable-nav {
	margin-top: 10px;
}

#OptionsUl {
	text-align: center;
	margin: 0 auto;
}

#OptionsUl>#nav-list {
	clear: left;
	text-align: center;
	margin: 10px auto;
	/*margin: auto;*/
	/*display: inline-block;
	position: relative;*/
	/*position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;*/
	/*position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
}

#nav-list li {
	padding: 5px;
}

#nav-list>li>a {
	padding: 5px;
}

#nav-list a{
	text-align: center;
}

#nav-list a:hover {
	background-color: #00ffff;
	border-radius: 15px;
}

#page-on a{
	background-color: #00ffff;
	border-radius: 15px;
	color: black;
}

#nav-list a span {
	font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #00ffd0;
}

#nav-list a {
	font-size: 1.5em;
}

#nav-list a span {
	font-size: 1em;
	/*margin-right: 5px;*/
}
/*****end header*****/

/*****main-content title*****/
#main-title {
	text-align: center;
	font-weight: 300;
	margin: 0px auto 15px;
}
/*****end main-contnent title*****/

#main-content {
	padding: 0px 15px 15px 15px;
	margin-bottom: 10px;
}

/*****home page*****/
#main-image {
	/*width: 100%;
	box-shadow: 0px 0px 50px 25px black;*/
	border: 2px solid black;
	padding: 0;
	margin-bottom: 20px;
}

.prom-container {
	margin-top: 10px;
	float: right;
}

.prom-text {
	background-color: #6600ff;
	border-radius: 15px;
	color: white;
	padding: 3px 10px;
}

.prom-text h3 {
	font-weight: bold;
}

.prom-text p {
	font-size: 16px;
}

.read-more:link, .read-more:visited {
	color: white;
	font-size: 1.2em;
	margin-bottom: 5px;
	text-decoration: none;
}

.read-more:hover, .read-more:active {
	cursor: pointer;
	color: red;
}
/*****end home page*****/

/*****about page*****/
#about-img {
	margin-bottom: 20px;
}

#about-p {

}
/*****end about page*****/

/*****Publication page*****/
#Publication-content, #Publication-link, #Publication-img {
	float: right;
}

#Publication-content {
	height: 650px;
	overflow: auto;
}

#top-content-title {
	margin-top: 0;
}

.year-link, .year-link:visited {
	display: block;
	text-align: center;
	font-size: 1.3em;
	text-decoration: none;
}

.year-link:hover, .year-link:active {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}
/*****end Publication page*****/

/*****contact page*****/
.text-bold {
	font-weight: bold;
}
/*****end contact page*****/

/*****footer*****/
.panel-footer {
	background-color: white;
	border: none;
}
/*****end footer*****/

/***************media queries***************/
/*****all devices except extra small*****/
@media (min-width: 768px) {

	.PurpleBack {
		background-color: #6600ff;
		border-radius: 15px;
	}
}
/*****end all devices except extra small*****/

/*****extra small devices only*****/
@media (max-width: 767px) {
	#nav-list {
		font-size: 14px;
	}

	#big-title {
		font-size: 3.5vw;
	}

	.Logo {
		width: 27.7575vw;/* 135.125px;*/
		height: 18vw;/* 87.625px;*/
	}

	#nav-list a{
		width: 40%;
		margin: 0 auto;
		text-align: center;
	}
	#contact-content {
		margin-bottom: 15px;
	}

	#Publication-content {
		height: unset;
		overflow: visible;
	}
}
/*****end extra small devices only*****/

/*****small devices only*****/
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		font-size: 11px;
	}
	/*.navbar-nav>li>a {
		padding: 1px 10px;
	}*?
	#contact-img, #contact-content {
		padding-bottom: 15px;
}
/*****end small devices only*****/

/*****medium devices only*****/
@media (min-width: 992px) and (max-width: 1199px) {
	#nav-list {
		font-size: 14px;
	}

	/*#nav-list>li>a {
	padding: 1.5px 10px;
}
	.navbar-nav>li>a {
		padding: 1.5px 10px 1.5px 10px;
	}
	#nav-list li {
		padding: 5px;
	}*?
}
/*****end medium devices only*****/

/*****large devices only*****/
@media (min-width: 1200px) {
	#nav-list {
		font-size: 17px;
	}
	/*#nav-list li {
		padding: 5px;
	}
	.navbar-nav>li>a {
		padding: 2px 18px 2px 18px;
	}*/
}
/*****end large devices only*****/

/****super extra small****/
@media (max-width: 560px) {
	.col-xxs-2, .col-xxs-4, .col-xxs-7 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
	}

	.col-xxs-2 {
  		width: 16.66666667%;
	}
	.col-xxs-4 {
  		width: 33.33333333%;
	}
	.col-xxs-6 {
 		width: 50%;
	}	
}
/*****end super extra small devices only*****/