/*****************From bootstrap***********************/
.col-ht-xs-1,
.col-ht-xs-2,
.col-ht-xs-3,
.col-ht-xs-4,
.col-ht-xs-5,
.col-ht-xs-6,
.col-ht-xs-7,
.col-ht-xs-8,
.col-ht-xs-9,
.col-ht-xs-10,
.col-ht-xs-11,
.col-ht-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-ht-xs-1,
.col-ht-xs-2,
.col-ht-xs-3,
.col-ht-xs-4,
.col-ht-xs-5,
.col-ht-xs-6,
.col-ht-xs-7,
.col-ht-xs-8,
.col-ht-xs-9,
.col-ht-xs-10,
.col-ht-xs-11,
.col-ht-xs-12 {
  float: left;
}
.col-ht-xs-12 {
  height: 100%;
}
.col-ht-xs-11 {
  height: 91.66666667%;
}
.col-ht-xs-10 {
  height: 83.33333333%;
}
.col-ht-xs-9 {
  height: 75%;
}
.col-ht-xs-8 {
  height: 66.66666667%;
}
.col-ht-xs-7 {
  height: 58.33333333%;
}
.col-ht-xs-6 {
  height: 50%;
}
.col-ht-xs-5 {
  height: 41.66666667%;
}
.col-ht-xs-4 {
  height: 33.33333333%;
}
.col-ht-xs-3 {
  height: 25%;
}
.col-ht-xs-2 {
  height: 16.66666667%;
}
.col-ht-xs-1 {
  height: 8.33333333%;
}
/******************End of bootstrap*********************/

#The-container {
	background-color: #ccc;
}

#output-container {
	padding: 8px;
	/*min-height: 120px;*/
	height: 100%;
	border: 3px solid #000;
	border-bottom: 0;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

#numbers-screen {
	color: #000;
	font-size: 2em;
}

#options-container {
	background-color: #000;
	padding: 10px;
	width: 100%;
	/*height: 80%;*/
	position: absolute;
	bottom: 0;
	right: 0;
}

#numbers-options-container {
	float: left;
	width: 66%;
}

#actions-options-container {
	float: right;
	width: 33%;
}

#vertical-line {
	padding: 8px 0;
	width: 1%;
	height: 200px;
}

#vertical-line div {
	border: 2.5px solid #fff;
	border-radius: 10px;
	padding: 0;
	width: 0;
	height: 100%;
}

.for-padding {
	padding: 8px;
}

.option {
	background-color: #2e5cb8;
	padding: 5px;
	border-radius: 10px;
	/*height: 55px;*/
	/*width: 60px;*/
	margin: 0 auto;
	/*padding-top: 8%;*/
	/*vertical-align: middle;*/
}

.internal-option {
	background-color: #2e5cb8;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	/*font-size: 1.5em;*/
	margin: auto;
	/*width: 85%;
	height: 85%;*/
	/*padding-top: 10%;*/
	/*line-height: 45px;*/
	/*padding: 16.085px 0;*/
}

/*.internal-option span {
	margin: 10px;
	vertical-align: middle;
}*/

.option:hover {
	cursor: pointer;
}

.option:hover .internal-option {
	box-shadow: 0 0 15px #000;
}

.option-place-holder {
	height: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.internal-option {
		/*font-size: 1em;*/
		font-size: 2.5em;
	}
	#actions-options-container {
		font-size: 0.8em;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.internal-option {
		font-size: 3.7em;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.internal-option {
		font-size: 3.7em;
	}
}

@media (min-width: 1200px) {
	.internal-option {
		font-size: 4em;
	}
	/*.option {
		height: 55px;
		width: 60px;
	}
	.internal-option {
		font-size: 1.5em;
		line-height: 45px;
	}*/
}